
.dashboard{
    width: 100%;
    margin: 0;
    padding: 0;
}

.dashboard-content{
    flex:2;
    padding: 0 10px;
    border-radius: 1em;
    background-color: #ecebeb;
}

.dashboard-navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: end;
    background-color: wheat;
    width: 100%;
}

.dashboard-greeting{
    display: flex;
    flex-direction: column;
}

.greet-user{
    font-size: 26px;
}

.greet-dummy-text{
    font-size: 18px;
    color: #90938C;
}

.dashboard-greeting{
    margin: 62px 0;
}

.dashboard-sidebar{
    padding: 0 1.5em;
    /* flex: 0; */
    /* display: flex; */
    justify-self: end;
    flex-direction: row;
    width: 18em;
    justify-content: end;
}


.dashboard-container{
    margin: 0 10px;
    /* padding-left: 20px; */
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.profile-container{
    margin: 0;
}

.card-container-header{
    font-size: 24px;
    margin-bottom: 2em;
}

.datepicker-container{
    /* padding-top: 100px; */
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    justify-content: end;
    flex-direction: row;
    margin-bottom: 1.5em;
    /* margin: 10px; */
    /* margin-top: 50px; */
    /* justify-content: center; */
}

.datepicker-navigator{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    flex: 0 0 100%;
}

.sidebar-cards{
    display: flex;
    gap: 0.8em;
    margin: 2em 0 ;
    align-items: center;
    transition: 200ms;
    /* justify-content: center; */
}

.sidebar-cards:hover{
    background-color: wheat;
    border-radius: 0.5em;
    padding: 0.5em;
    transition: 200ms;
}

.sidebar-cards-value{
     display: flex; 
     flex: 1;
     width: 100%;
     justify-content: end; 
     font-size: 16px;   
}

.sidebar-cards-title{
    /* flex: 2; */

    font-size: 16px;
    font-weight: 600;
}

.sidebar-cards-icon{
    object-fit: cover;
    border-radius: 100%;
    padding: 0.8em;
    width: 30px;
}

.sidebar-cards-icon-wheat{
    
}

.datepicker-header{
    display: inline-flex;
    /* display: inline-block; */
    /* margin-right: 3em; */
    /* padding: 0.5em; */
    font-size: 26px;
    font-weight: 600;
    opacity: 1;
    transition: 200ms;
}

.datepicker-header:hover{
    opacity: 0.6;
    transition: 200ms;
}

.datepicker-nav{
    display:inline-flex;
    flex: 1;
    justify-content: flex-end;
    /* display: inline-block; */
}

.datepicker-nav > img{
    /* display: inline-block; */
    stroke-width: 30px;
    padding-left: 1em;
    width: 1.4em;
    height: 1.4em;
    transition: 200ms;
    
}

.datepicker-nav > img:hover{
    width: 1.55em;
    height: 1.55em;
    transition: 200ms;
}

.datepicker-date{
    display: flex;
    flex-direction: column;
    transition: 200ms;
}

.datepicker-list-date{
    flex: 4;
    margin: 0.35em 0;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.datepicker-day{
    font-size: 14px;
    color: #84877E;
    transition: 1000ms;
}

.datepicker-date:hover, .datepicker-day:hover{
    border-radius: 0.5em;
    font-size: 16px;
    color: white;
    padding: 0.15em 0.3em;
    background-color: #71A71B;
    opacity: 0.7;
    transition: 200ms;
}

.datepicker-day-num{
    align-self: center;
    justify-self: center;
}

.datepicker-center{
    /* padding: 5px; */
    transition: 200ms;
    padding: 0.15em 0.3em;
    border-radius: 0.5em;
    color: white;
    background-color: #71A71B;
}