.profile-page-container{
    
    display: flex;
    flex-direction: column;
    width: 38em;
    margin: 0 auto;
    /* gap: 0.5em; */
}
.user-update-name-image{
    display: flex;
    gap: 0.35em;
    border-radius: 2em;
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    padding: 1em;

    /* margin: 0.5em 0; */
}

.user-update-name-image img{
    margin: 1em;
    width: 10em;
    height: 10em;
    border-radius: 100%;
    /* border: 0.05em solid black; */
}

